{% extends "base.html" %}

{% block content %}
<h1>{{ cocktail.name }}</h1>

{% if cocktail.image %}
  <img src="http://localhost:3000/{{ cocktail.image }}" alt="{{ cocktail.name }}">
{% endif %}


<p><strong>Category:</strong> {{ cocktail.category }}</p>
<p><strong>Difficulty:</strong> {{ cocktail.difficulty }}</p>
<p><strong>Preparation time:</strong> {{ cocktail.preparation_time }} minutes</p>
<p><strong>Servings:</strong> {{ cocktail.servings }}</p>
<p><strong>Ustensils:</strong> {{ cocktail.ustensils }}</p>
<p><strong>Ingredients:</strong></p>
<p>{{ cocktail.ingredients }}</p>
<p><strong>Steps:</strong></p>
<p>{{ cocktail.steps }}</p>

<p><a href="{% url 'cocktail_list' %}">← Back to list</a></p>
{% endblock %}
